*{margin:0;
padding:0;}
html{font-size:14px;}
    body{overflow-x:hidden;
        font-family: 'Montserrat', sans-serif;}
    .container{position:relative;
            overflow:hidden;}
    /*Header i navigacija*/
    header{width:100%;
        min-height:100px;
        height:10vh;
        overflow-x:hidden;
    display:grid;
    grid-column:span 12;
    grid-template-columns: repeat(12,1fr);
    background:whitesmoke;}
    
    #logo{grid-column:span 2;
        align-items: center;
        align-content: center;
        text-align:center;
        text-align: -webkit-center;
        display: grid;
        margin:20px;}
        #logo img{height:100%;
        }
    #naslov{grid-column: span 8;
        font-size: 2.8em;
        align-items: center;
        align-content: center;
        font-family: 'Montserrat', sans-serif;
        display: grid;
        justify-content: center;}
    #navbtn{grid-column:span 2;
        z-index:3;
        align-items: center;
        align-content: center;
        display: grid;
        justify-content: center;}
    #navbtn i {font-size:2.3em;}
    #navbtn:hover{cursor:pointer;}
    #navigacija{display:none;}
    
    nav{
        position:absolute;
        right: -300px;
        height: 100vh;
        bottom: 0;
        top: 0;
        list-style:none;
        transition:all 0.3s;
        background-color:whitesmoke;
    }
    
    nav ul{list-style:none;
        margin-top:100px;}
    
    nav ul li {text-decoration:none;
    text-align:center;
    transition:0.3s;
    padding-bottom:10px;}
    nav ul li a{font-size:1.5em;
        padding:20px 0;
        text-decoration:none;
    font-weight:bold;
    transition:0.3s;
    background:#e9530e;
    display:block;width:100%;
    color:whitesmoke;}
    nav ul li a:hover{  color:#e9530e;
                        background:whitesmoke;
                        transition:0.3s;}
    #verzija{position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    font-weight:bold;}
    #navigacija:checked ~ nav {right: 0;
        bottom: 0;
        transition:all 0.3s;
        top: 0;
        width: 16.6667%;
        z-index: 2;}
        input#navigacija:checked + label i {transform:rotate(180deg);
            transition:0.3s;}

    /*Main i gridovi*/

    main{width:100%;
        overflow-x:hidden;
        display:grid;
        grid-template-columns: repeat(12,1fr);
        background: url("img/background.jpg");
        height:calc(100vh - 100px);
    }
    
    .centergrid{grid-column: 3/11;
        display: grid;
        margin:50px 0;
        padding:50px 0;
    border-radius: 10px;
    align-self: center;}
    .grid{display: grid;
        grid-template-columns: repeat(12,1fr);
    grid-column:span 12;}
    .centergrid input{
        padding:10px;
        margin:20px;
    text-align: center;
    color:#e9530e;
    font-size:1.5em;
    background:transparent;
    border:none;
    border-bottom:3px solid #e9530e;}
    .centergrid label,#singledoc label{
        padding:10px;
        margin:20px;
    color:#e9530e;
    font-size:2.2em;
    background:transparent;
    border:none;}
    .centergrid form{grid-column:span 12;
        grid-template-columns: repeat(12,1fr);
        display:grid;
        overflow:hidden;
        justify-content:center;
        align-items:center;
}
    .centergrid h3{
        font-size: 2.5em;
        text-align: center;
        padding-bottom:50px;}
   
    
/*Sortiranje - Lijevi fiksni kod*/
.lijevifix{width:16.6667%;
    position:fixed;
    overflow-y:scroll;
    padding:35px 0;
    top:100px;
    bottom:0;
    left:0;}
section.lijevifix{box-shadow:none;
border-right:4px solid #e9530e;}

.lijevifix h3{font-size:2.3em;
    position:fixed;
    bottom:0;
    width:16.667%;
    background:#e9530e;
    padding:10px 0px;
    transition:0.3s;
    text-align:center;
    color:white;}
    .lijevifix h3:hover{
    transition:0.3s;
    background:whitesmoke;
    color:#e9530e;}
    .lijevifix h4{
    font-size:1.5em;
    text-align:center;
    margin:20px 0 5px 0;
}

#sortbyli input{display:none;}
#sortbyli label{background: whitesmoke;
    color: #e9530e;
    cursor:pointer;
    display:block;
    width:100%;
    transition:0.3s;
    padding:10px 0;
    margin-bottom:5px;
    text-align:center;
    font-size:1.3em;}
#sortbyli label:hover{
    background: rgb(214, 214, 214);
    transition:0.3s;
}
#sortbyli input:checked + label {color:whitesmoke;
transition:0.3s;
background:#e9530e;}
#orderbyid label.polasort, #orderby label.polasort{width:50%;
display:inline-block;
float:left;}
.floatlsto{width:100%;
float:left;}
#orderby label.fullsort{width:100%;
    margin-bottom:50px;
    display:inline-block;
    float:left;}
/*Desni glavni prikaz*/
    .desniflex{grid-column:span 12;
        display: flex;
        flex-wrap:wrap;
        grid-template-columns: repeat(12,1fr);
        padding:50px 0 0 16%;
        justify-content: center;
    min-height:90vh;}
    .desniflex a{text-decoration:none;}
    .desniflex article{
        background: linear-gradient( rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.55) ), url(img/background.jpg);
    text-align:left;
        background-size: cover;
        margin: 10px;
        padding: 50px;
        width: 300px;
        color: white;
        font-size: 2em;
        display: grid;
        transition:0.3s;
        align-items: center;
        justify-items: center;}
        .desniflex article p{margin-bottom:10px;
        border-bottom:3px solid orangered;
    width:100%;}
    .desniflex article:hover{transition:0.3s;
        background: linear-gradient( rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.85) ), url(img/background.jpg);
        background-size:cover;
        background-position:30px;
    }

    /*Login*/

    #login input,#brdoc input{
        padding:10px;
        margin:20px;
    text-align: center;
    color:#e9530e;
    font-size:2.5em;
    background:transparent;
    border:none;
    border-bottom:3px solid #e9530e;
    }


    /*Align i justify klase*/
    .streachcenter{justify-self: stretch;
        text-align:center;}
        .fulla{grid-column:3/11;
            text-align:center;}
            .textleft{text-align:left;}
    .alignstart{align-self:flex-start;}
    .justiend{justify-self:flex-end;}
    .aligncenter{align-self:center;}
        .halfa1{grid-column: 3/7;}
    .halfa2{grid-column:7/11;}
    .halfa2-1{grid-column:6/10;}
    

    /*Borderi, shadowi i ostali stilovi*/
    .shadow{box-shadow: 0px 0px 19px 1px #000000;
        background: #fffffff2;}
    option{background:whitesmoke!important;
        }
    .gumb { display: block;
            margin: 20px;
            font-family: 'Montserrat', sans-serif;
            background: whitesmoke;
            color: #e9530e;
            border: none;
            font-size: 2em;
            text-decoration: none;
            padding: 10px 30px;}
    .slim{font-weight:100;}
    .paddingbottomborder{border-bottom: 2px solid #e9530e;
        padding: 50px 0;}
    .dodatneinfo{padding:20px 0 0 0;}
    .nopadcen{padding:0;
             align-self:center;}
    .zaklijenta{align-items: center;}
    .singledokument img{width:100%;
                align-self:center;}
    .opisusluge p{font-size:1.2em;}
    .memorandum{text-align: right;
        font-size: 1.4em;}
    .desnoaligntext{text-align: right;}
    .gumb:hover{
        background:#e9530e;
        color:whitesmoke;
        border:3px solid whitesmoke;
        transition:0.3s;
        padding:7px 27px;
        cursor:pointer;
    }
    #duein{
        color: #e9530e;
        padding: 10px;
         margin: 20px;
        background: transparent;
        border: none;
        border-bottom: 3px solid #e9530e;
        font-size: 1.5em;
        outline: none;
        text-align: center;
        box-shadow: none;}
    #dots{visibility:hidden;}
    .nooutline:focus {
        outline: none;
    }
    .centergrid input:focus::placeholder{
        color:transparent;
        transition:0.3s;
    }
    .centergrid input::placeholder{width:100%;
        color:#e9530e;
        transition:0.3s;
        text-align:center;}

    /*Neke animacije i scrollbar*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #e9530e;
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0.3s;
}
::-webkit-scrollbar {
    display: none;
    }

/*Conditional formating*/

    #tipplacen ~ #tipplacenlabel {
        color: grey;
        background:whitesmoke;
        transition:0.3s;
      }
      #tipneplacen ~ #tipneplacenlabel {
        color: grey;
        background:whitesmoke;
        transition:0.3s;
      }
    .pointer{cursor:pointer;}
    #tipracun ~ #tipracunlabel {
        color: grey;
        background:whitesmoke;
        transition:0.3s;
      }
    #tipracun:checked ~ #tipracunlabel {
        color: #e9530e;
        font-weight:bold;
        transition:0.3s;
        background:whitesmoke;
      }
      #tipplacen:checked ~ #tipplacenlabel {
        color: #e9530e;
        font-weight:bold;
        transition:0.3s;
        background:whitesmoke;
      }
      #tipneplacen:checked ~ #tipneplacenlabel {
        color: #e9530e;
        font-weight:bold;
        transition:0.3s;
        background:whitesmoke;
      }
      #tippredracun ~ #tippredracunracunlabel {
        color: grey;
        background:whitesmoke;
        transition:0.3s;
      }
      #tippredracun ~ #tippredracunracunlabel:hover{
        color: grey;
        background:whitesmoke;
        transition:0.3s;
      }
    #tippredracun:checked ~ #tippredracunracunlabel {
        color: #e9530e;
        font-weight:bold;
        transition:0.3s;
        background:whitesmoke;
      }
    /*O aplikaciji i greška*/

      .oapp,.greska{background:#e9530e;}
      .oapp h3,.greska h3{padding:50px;
    color:whitesmoke;}
    #tipracun,#tippredracun,#tipplacen,#tipneplacen{display:none;}
.more{padding:0;
    grid-column: span 12;
    grid-template-columns: repeat(12,1fr);
    margin:0;}
.pokazi{max-height:1000px;
    transition: max-height 1s;
}
.sakrij{max-height:0;
    transition: max-height 1s;
    overflow: hidden;
}
/*Single dokument*/
.singledokument{display:grid;
grid-column: span 12;
grid-template-columns: repeat(12, 1fr);}
.singledokument h4{font-size:2em;}
.zaklijenta section.halfa1{text-align:left;}

/*Responzivnost*/

@media only screen and (max-width: 1024px) {
    html{font-size:13px;}
    .centergrid{
        align-self: stretch;
        align-content: center;
    margin:0;
    border-radius:0px;
      grid-column:span 12;
    }
    #navigacija:checked ~ nav {right: 0;
        width: 50%;
        z-index: 2;}
        .lijevifix{display:none;}
        .desniflex{padding:20px;}
  }

  @media only screen and (max-width: 768px) {
    html{font-size:11px;}
    .centergrid{
        padding-left:20px;
        padding-right:20px;
        align-self: stretch;
    align-content: center;
      grid-column:span 12;
      
    }
    .desniflex article{width: 200px;}
    #naslov{visibility: hidden;
    z-index:-2;}
    .justiend{justify-self:stretch;}
    .halfa1,.halfa2{grid-column:span 6;}
    .fulla{grid-column:span 12;}
    #navigacija:checked ~ nav {right: 0;
        width: 100%;
        z-index: 2;}
        .lijevifix{display:none;}
        .desniflex{padding:20px;}
  }